.tags
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/versioned/
archive.json
draft-timidrobot-aipref-exclusions.xml
draft-zehta-aipref-exclusions.xml
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
